{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
<!-- <link href="https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap" rel="stylesheet"> -->
{% endblock %}


{% block content %}
{% for source in sources %}
<div class="container-fluid" style="background-color: rgb(189, 189, 194)">
    <div class="container">
        <div class="card" style="height:200px;background-color:aliceblue;">
            <div class="card-body" style="padding-left:3%;">
                <h1>{{source.name}}</h1>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}